body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

a,
button,
input,
textarea,
select {
  font-family: var(--font-heading), sans-serif;
}

.badge,
nav {
  font-family: var(--font-heading), sans-serif;
}
